<a href="https://colab.research.google.com/github/doumsdd/universites/blob/main/Universites_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**RANG DES UNIVERSITES DANS LE MONDE**

In [12]:
import pandas as pd
data = pd.read_csv("/content/sample_data/THP/cwurData.csv")
data

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [15]:
# Filter the data for French universities
french_universities = data[data['country'] == 'France']

# Display the French universities
print('les universités francaises listés sur le CWU :')
french_universities['institution'].unique()

les universités francaises listés sur le CWU :

array(['University of Paris-Sud', 'École normale supérieure - Paris',
       'École Polytechnique', 'Pierre-and-Marie-Curie University',
       'Mines ParisTech', 'Paris Diderot University - Paris 7',
       'University of Strasbourg', 'Joseph Fourier University',
       'Aix-Marseille University', 'Claude Bernard University Lyon 1',
       'University of Montpellier 2',
       'Paul Sabatier University - Toulouse III',
       'Paris Descartes University', 'University of Lorraine',
       'University of Bordeaux II',
       'Versailles Saint-Quentin-en-Yvelines University',
       'University of Bordeaux I', 'École normale supérieure de Lyon',
       'University of Rennes 1', 'Grenoble Institute of Technology',
       'École Centrale Paris', 'University of Montpellier 1',
       'University of Nice Sophia Antipolis', 'University of Savoy',
       'University of Nantes',
       'University Lille 1: Sciences and Technologies',
       'National Polytechnic Institute of Toulouse',
       'Paris-Est Créteil Val-de-Marne University',
       'University of Poitiers', 'University of Burgundy',
       'Lille 2 University of Health and Law',
       'University François Rabelais, Tours', 'University of Paris 13',
       "University of Évry Val d'Essonne",
       'Paul Valéry University, Montpellier III',
       'University of Caen Lower Normandy',
       'Institut national des sciences Appliquées de Lyon',
       'University of Perpignan Via Domitia', 'Blaise Pascal University',
       'University of Rouen', 'University of Picardie Jules Verne',
       'University of Franche-Comté', 'University of Angers',
       'Jean Monnet University', 'University of Orléans',
       'University of Western Brittany',
       'University of Reims Champagne-Ardenne',
       'University of Valenciennes and Hainaut-Cambresis',
       "University of Pau and Pays de l'Adour",
       'University of Maine (Le Mans)', 'University of Montpellier',
       'University of Bordeaux', 'École normale supérieure de Cachan',
       'École centrale de Lyon'], dtype=object)

**LES DEPENSES FAITS DANS L'EDUCATION**

In [40]:
import pandas as pd

# Supposons que votre dataframe s'appelle df et que vous avez des colonnes pour chaque année (par exemple, '2005', '2006', etc.).
# Les noms d'universités sont dans la colonne 'institution'.

# Étape 1 : Filtrer les lignes correspondant aux universités
universities_df = data[data['institution'].str.contains('university', case=False)]

# Étape 2 : Compter le nombre d'universités par année et calculer la moyenne
count_by_year = universities_df.drop('institution', axis=1).sum().to_dict()
mean_universities_per_year = universities_df.drop('institution', axis=1).mean(numeric_only=True).mean()

# count_by_year est un dictionnaire où les clés sont les années (par exemple, 2005, 2006, etc.) et les valeurs sont le nombre d'universités pour chaque année.

# mean_universities_per_year donne la moyenne du nombre d'universités par année.

round(mean_universities_per_year, 2)

472.86

### **EXPENDITURE SUPPLEMENTARY**

In [22]:
import pandas as pd
data1 = pd.read_csv("/content/sample_data/THP/education_expenditure_supplementary_data-new_version.csv")
data1

,country,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,OECD Average,All Institutions,Public,4.9,4.9,5.0,5.4,5.4,5.3
1,Australia,All Institutions,Public,4.5,4.6,4.3,4.5,4.6,4.3
2,Austria,All Institutions,Public,5.3,5.4,5.2,5.7,5.6,5.5
3,Belgium,All Institutions,Public,5.0,5.1,5.8,6.4,6.4,6.4
4,Canada,All Institutions,Public,5.8,5.2,4.8,5.0,5.2,NaN
...,...,...,...,...,...,...,...,...,...
328,Turkey,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,NaN
329,United Kingdom,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,1.2
330,United States,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,2.7
331,Brazil,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,NaN
332,Russian Federation,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,1.4

# Nouvelle section

In [16]:
f1 = data1.select_dtypes(include='float')
f1

     1995  2000  2005  2009  2010  2011
0     4.9   4.9   5.0   5.4   5.4   5.3
1     4.5   4.6   4.3   4.5   4.6   4.3
2     5.3   5.4   5.2   5.7   5.6   5.5
3     5.0   5.1   5.8   6.4   6.4   6.4
4     5.8   5.2   4.8   5.0   5.2   NaN
..    ...   ...   ...   ...   ...   ...
328   NaN   NaN   NaN   NaN   NaN   NaN
329   NaN   NaN   NaN   NaN   NaN   1.2
330   NaN   NaN   NaN   NaN   NaN   2.7
331   NaN   NaN   NaN   NaN   NaN   NaN
332   NaN   NaN   NaN   NaN   NaN   1.4

[333 rows x 6 columns]

a . les années sont entre 1995 et 2011

TAUX DE REALISATION SUPPPLEmentaire

### **ATTAINEMENT SUPPLEMENTARY**

In [5]:
import pandas as pd
data2 = pd.read_csv("/content/sample_data/THP/educational_attainment_supplementary_data.csv")
data2

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37358,Kenya,UIS: Percentage of population age 25+ with at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37359,Kenya,UIS: Percentage of population age 25+ with at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37360,Kenya,UIS: Percentage of population age 25+ with at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37361,Kenya,UIS: Percentage of population age 25+ with at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37362,Kenya,UIS: Percentag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

les années sont entre 1985 et 2015

In [17]:

f2 = data2.select_dtypes(include='float')
f2

,1985,1986,1987,1990,1991,1992,1993,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,NaN,NaN,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,NaN,NaN,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,NaN,NaN,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,NaN,NaN,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,NaN,NaN,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

les années sont entre 1985 et 2015

### **SCHOOL AND COUNTRY TABLE**

In [5]:
import pandas as pd
data3 = pd.read_csv("/content/sample_data/THP/school_and_country_table.csv")
data3

                               school_name                   country
0                       Harvard University  United States of America
1       California Institute of Technology  United States of America
2    Massachusetts Institute of Technology  United States of America
3                      Stanford University  United States of America
4                     Princeton University  United States of America
..                                     ...                       ...
813                      Xidian University                     China
814                    Yeungnam University               South Korea
815            Yıldız Technical University                    Turkey
816               Yokohama City University                     Japan
817           Yokohama National University                     Japan

[818 rows x 2 columns]

In [6]:
# Filter the data for "University of Strasbourg"
strasbourg_school_country_data = data3[data3['school_name'] == 'University of Strasbourg']

# Display the data
strasbourg_school_country_data

                  school_name country
242  University of Strasbourg  France

strasbourg est 242eme

### **SHANGAI DATA**

In [1]:
import pandas as pd
data4 = pd.read_csv("/content/sample_data/THP/shanghaiData.csv")
data4

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [19]:
year4 = data4['year']
year4

0       2005
1       2005
2       2005
3       2005
4       2005
        ...
4892    2015
4893    2015
4894    2015
4895    2015
4896    2015
Name: year, Length: 4897, dtype: int64

les années sont entre 2005 et 2015

In [2]:
strasbourg_data = data4[data4['university_name'] == 'University of Strasbourg']
strasbourg_data

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
91,92,University of Strasbourg,3,24.7,29.4,22.9,19.2,19.5,32.7,22.4,2005
595,96,University of Strasbourg,3,24.2,28.4,22.5,18.8,16.7,33.6,23.6,2006
1100,99,University of Strasbourg,4,23.8,27.6,22.5,16.6,18.5,32.8,22.9,2007
1656,101-151,University of Strasbourg,4-5,NaN,26.3,22.5,16.3,16.1,34.3,18.6,2008
2158,101-151,University of Strasbourg,4-5,NaN,25.6,22.5,17.8,16.2,34.5,19.0,2009
2657,101-150,University of Strasbourg,4-5,NaN,25.0,22.4,17.6,15.9,36.6,19.3,2010
3157,102-150,University of Strasbourg,4-6,NaN,25.0,22.4,17.7,18.4,35.1,18.9,2011
3659,101-150,University of Strasbourg,4-7,NaN,26.6,22.1,17.7,17.6,36.0,19.3,2012
3894,97,University of Strasbourg,4.0,24.7,26.2,26.3,17.7,18.5,34.6,20.3,2013
3991,95,University of Strasbourg,4,24.5,25.8,28.8,13.9,17.7,35.5,21.2,2014
4485,87,University of Strasbourg,4,24.9,25.1,28.8,15.9,19.0,34.6,21.7,2015

les rangs de strasbourg

In [10]:
smerged = pd.merge(data4, data3, left_on='university_name', right_on='school_name', how='left')

# Filter the data for the year 2015
shanghai_data_2015 = smerged[smerged['year'] == 2015]

# Count the number of universities in the ranking for each country
universities_per_country = shanghai_data_2015['country'].value_counts()

# Display the data in descending order
universities_per_country

United States of America    90
United Kingdom              26
China                       22
Canada                      16
Italy                       15
Japan                       14
Germany                     14
Australia                   13
Spain                       12
Netherlands                 10
South Korea                  9
Sweden                       8
Taiwan                       6
Switzerland                  5
France                       5
Austria                      5
Denmark                      5
Finland                      5
South Africa                 4
Brazil                       3
Portugal                     3
Republic of Ireland          3
Israel                       3
Belgium                      3
Singapore                    2
Iran                         2
Norway                       2
Saudi Arabia                 2
Poland                       2
Greece                       2
Serbia                       1
Slovenia                     1
Turkey                       1
Egypt                        1
Chile                        1
India                        1
Russian Federation           1
New Zealand                  1
Mexico                       1
Hong Kong                    1
Czech Republic               1
Hungary                      1
Name: country, dtype: int64

nombres d'université par pays .

### **TIMES DATA**

In [3]:
import pandas as pd
data5 = pd.read_csv("/content/sample_data/THP/timesData.csv")
data5

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,-,"21,958",15.3,3%,48 : 52,2016
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,-,"31,268",28.7,2%,36 : 64,2016
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,-,"4,122",3.7,3%,NaN,2016
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,-,"10,117",12.1,8%,28 : 72,2016
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,-,"8,663",20.6,4%,43 : 57,2016

In [21]:
year5 = data5['year']
year5

0       2011
1       2011
2       2011
3       2011
4       2011
        ...
2598    2016
2599    2016
2600    2016
2601    2016
2602    2016
Name: year, Length: 2603, dtype: int64

les années sont entre 2011 et 2016

In [4]:
strasbourg_times_data = data5[data5['university_name'] == 'University of Strasbourg']

# Display the data
strasbourg_times_data[['world_rank', 'year']]

     world_rank  year
422     201-225  2012
825     201-225  2013
1223    201-225  2014
1619    201-225  2015
2142    301-350  2016

les Rankings de Strasbourg

In [7]:
# Filtrage data pour 2016
times_data_2016 = data5[data5['year'] == 2016]

# Convertir le world_rank en numerique quand c'est possible
times_data_2016['world_rank'] = pd.to_numeric(times_data_2016['world_rank'], errors='coerce')

# avoir le top 20 universities in 2016
top_20_universities_2016 = times_data_2016.sort_values(by='world_rank').head(20)

# affichage top 20 universities in 2016
top_20_universities_2016[['world_rank', 'university_name', 'country']]

<ipython-input-7-e5becc03f9e5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data_2016['world_rank'] = pd.to_numeric(times_data_2016['world_rank'], errors='coerce')

,world_rank,university_name,country
1803,1.0,California Institute of Technology,United States of America
1804,2.0,University of Oxford,United Kingdom
1805,3.0,Stanford University,United States of America
1806,4.0,University of Cambridge,United Kingdom
1807,5.0,Massachusetts Institute of Technology,United States of America
1808,6.0,Harvard University,United States of America
1809,7.0,Princeton University,United States of America
1810,8.0,Imperial College London,United Kingdom
1811,9.0,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland
1812,10.0,University of Chicago,United States of America
1813,11.0,Johns Hopkins University,United States of America
1814,12.0,Yale University,United States of America
1815,13.0,"University of California, Berkeley",United States of America
1816,14.0,University College London,United Kingdom
1817,15.0,Columbia University,United States of America
1818,16.0,"University of California, Los Angeles",United States of America
1819,17.0,University of Pennsylvania,United States of America
1820,18.0,Cornell University,United States of America
1821,19.0,University of Toronto,Canada
1822,20.0,Duke University,United States of America

In [9]:
# Count du nombres d'universités US dans le top 20
num_us_universities = top_20_universities_2016[top_20_universities_2016['country'] == 'United States of America'].shape[0]

# Calcul des proportions American universities in the top 20
proportion_us_universities = num_us_universities / 20

proportion_us_universities * 100

70.0

il y'a 70% d'universités américaines dans le top 20

# **CALCUL DU RATIO CLASSEMENT SUPERIEUR ET TIMES**

In [18]:
# Filtre times_data for the year 2011
times_data_2011 = data5[data5['year'] == 2011]

# Count the number of universities dans chaque pays
universities_per_country_times = times_data_2011['country'].value_counts()

# Conversion de la Serie en DataFrame
universities_per_country_times_df = universities_per_country_times.reset_index()
universities_per_country_times_df.columns = ['country', 'num_universities']

# Display
universities_per_country_times_df.head()

                    country  num_universities
0  United States of America                72
1            United Kingdom                29
2                   Germany                14
3               Netherlands                10
4                    Canada                 9

In [24]:
# on additionne les data de chaque country
expenditure= data1.groupby('country')['2011'].sum().reset_index()

# Merge des dataframes
merged_data_agg = pd.merge(universities_per_country_times_df, expenditure, left_on='country', right_on='country', how='inner')

# Calcul du ratio
merged_data_agg['ratio'] = merged_data_agg['2011'] / merged_data_agg['num_universities']

# filtrage de la data by ratio
sorted_data_agg = merged_data_agg.sort_values(by='ratio')

# Display
sorted_data_agg[['country', 'ratio']]

           country      ratio
3           Canada   0.000000
12          Turkey   0.000000
0   United Kingdom   0.851724
1          Germany   1.364286
2      Netherlands   2.400000
4        Australia   3.285714
6      Switzerland   3.433333
7            Japan   3.840000
5           Sweden   4.000000
8           France   5.775000
9          Denmark   9.466667
10           Spain  10.000000
13         Austria  10.800000
11         Belgium  12.400000
15          Norway  15.600000
14         Finland  25.000000
16     New Zealand  28.800000

RATIO DES PAYS SUR LES DEPENSES